<!doctype html>
<html>
    <head>
        <title id="title"></title>
    </head>
    <body>
        <h1 id="h1"></h1>
        <video id="video" width="%s" height="%s" controls></video>
        <p id="params"></p>
        <p>
            <input id="ruler_start_x", type="number"/>
            <input id="ruler_start_y", type="number"/>
            <input id="ruler_end_x", type="number"/>
            <input id="ruler_end_y", type="number"/>
            <input id="ruler_length", type="number"/>
            <input id="threshold", type="number"/>
            <input id="post_params" type="button" value="post"/>
        </p>
    </body>
    <data id="data" device="%s">
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="/media/scripts/hlsclient.js"></script>
</html>